.hero__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .hero__left {
        background-color: red;
    }
    .hero__right {
        background-color: blue;
    }
}